---
interface Props {
  href: string;
}

const { href }: Props = Astro.props;
---

<a href={href}>
  <slot />
</a>

<style>
  a {
    width: 100%;
    padding: 12px 15px;
    background: none;
    color: var(--text-color);
    cursor: pointer;
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
    box-shadow: inset 0 0 14px var(--glow-color);
    transition: 0.2s;
    font-size: 1em;
    font-weight: 500;
    outline: none;
    text-decoration: none;
  }
  a:hover {
    box-shadow: inset 0 0 20px var(--glow-color-secondary);
  }
</style>
