---
import Audio from "@/components/profile/Audio.svelte";
import Clock from "@/components/profile/Clock.svelte";
import Overview from "@/components/profile/Overview.astro";
import Layout from "@/layouts/LayoutHome.astro";
import Bag from "@/shared/icons/Bag.svelte";
import Mac from "@/shared/icons/Mac.svelte";
---

<Layout>
  <div class="main">
    <div class="bent">
      <section class="profile">
        <picture>
          <img
            src="https://i.pinimg.com/originals/b8/b5/90/b8b590cf5d40052bd1d938a5e48666a0.gif"
            alt=""
          />
        </picture>
      </section>
      <section class="hour">
        <Clock client:load />
      </section>
      <section class="audio">
        <Audio client:load />
      </section>
      <section class="overview">
        <Overview />
      </section>
      <section class="equipment lend">
        <div>
          <p>Equipos Disponibles</p>
          <Mac />
        </div>
        <h3>34</h3>
      </section>
      <section class="borrowed lend">
        <div>
          <p>Equipos Prestados</p>
          <Bag />
        </div>
        <h3>12</h3>
      </section>
      <section class="log">
        <h3>Tu historial</h3>
        <div class="message">
          <picture>
            <img
              src="https://i.pinimg.com/originals/b8/b5/90/b8b590cf5d40052bd1d938a5e48666a0.gif"
              alt=""
            />
          </picture>
          <div class="text">
            <h4>Corro-Kun</h4>
            <p>Presto una silla para el salon 105</p>
          </div>
        </div>
        <div class="message">
          <picture>
            <img
              src="https://i.pinimg.com/originals/b8/b5/90/b8b590cf5d40052bd1d938a5e48666a0.gif"
              alt=""
            />
          </picture>
          <div class="text">
            <h4>Corro-Kun</h4>
            <p>Presto un maus para el salón 204</p>
          </div>
        </div>
        <div class="message">
          <picture>
            <img
              src="https://www.gifcen.com/wp-content/uploads/2022/07/anime-girl-gif-9.gif"
              alt=""
            />
          </picture>
          <div class="text">
            <h4>Gigantud</h4>
            <p>Presto la madre de martin</p>
          </div>
        </div>
        <div class="message">
          <picture>
            <img
              src="https://i.pinimg.com/originals/fc/a0/05/fca005e11936c158890678eb7162a049.gif"
              alt=""
            />
          </picture>
          <div class="text">
            <h4>Martin</h4>
            <p>Desea saber la ubicación de Gigantud</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</Layout>

<style>
  .main {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .bent {
    display: grid;
    width: 1100px;
    gap: 1rem;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: repeat(5, auto);
  }
  section {
    border-radius: var(--radius);
    box-shadow: var(--shadow-border);
    overflow: hidden;
  }
  .profile {
    width: 200px;
    height: 200px;
    grid-column: 1;
    grid-row: 1 / span 2;
  }
  .profile picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .hour {
    display: flex;
    padding-block: 10px;
    grid-column: 1;
    grid-row: 3;
    align-items: center;
    justify-content: center;
  }
  .audio {
    display: flex;
    width: 200px;
    height: 200px;
    grid-column: 1;
    grid-row: 4 / span 2;
    align-items: center;
    justify-content: center;
  }
  .overview {
    grid-column: 2 / span 2;
    grid-row: 1 / span 3;
  }
  .equipment {
    grid-column: 2;
    grid-row: 4 / span 2;
  }
  .lend {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .lend div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color-secondary);
  }
  .lend h3 {
    font-size: 2rem;
    color: var(--text-color);
  }
  .borrowed {
    grid-column: 3;
    grid-row: 4 / span 2;
  }
  .log {
    padding: 10px;
    width: 300px;
    grid-column: 4;
    grid-row: 1 / span 5;
  }
  .log h3 {
    color: var(--text-color);
  }
  .message {
    display: flex;
    gap: 12px;
    margin-block: 10px;
  }
  .message img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .text h4 {
    color: var(--text-color);
  }
  .text p {
    color: var(--text-color-secondary);
  }
</style>
