---
import Login from "@/components/auth/Login.svelte";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <main>
    <Login client:only />
  </main>
</Layout>

<style>
  main {
    display: flex;
    padding: 40px;
    align-items: center;
    justify-content: right;
    height: 100vh;
  }
</style>
