---
import Body from "@/shared/components/Body.astro";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <ClientRouter />
  </head>
  <Body>
    <slot />
  </Body>
</html>

<style is:global>
  :root {
    --background-color: #1e293b;
    --overlay-color: #242f3d;
    --text-color: #e2e8f0;
    --text-color-secondary: #64748b;
    --border-color: #334155;
    --glow-color: #2e3d52;
    --glow-color-secondary: #314055;
    --radius: 10px;
    --shadow-border: 0 0 0 2px var(--border-color);
  }
  @font-face {
    font-family: "Work Sans";
    src: url("/fonts/WorkSans-Regular.ttf") format("truetype");
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
  }
  *::-webkit-scrollbar {
    background: transparent;
    height: 10px;
    width: 8px;
  }

  *::-webkit-scrollbar-thumb {
    background: var(--Color_Border);
    border-radius: 4px;
  }
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
</style>
